*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 100%;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
}
.App {
  padding: 4vh 5vw;
}
.color-container {
  display: flex;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.color-word {
  margin-top: 0.1rem;
  padding-left: 1ch;
}
.clipboard-btn {
  margin-left: auto;

  height: 2rem;
}
.clipboard-img {
  height: 100%;
}
.colors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 0.75rem;
}

header > h1 {
  font-size: 1.6rem;
}

header > h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

#search-word {
  margin: 1rem;
  width: min(30rem, 70%);
  display: block;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  outline: 0;
  /* border: 1px solid #f0f; */
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
