*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --barSize: 13px;
  /* Initial values, then changing in JS. */
  --contrastColor: #000;
  --mainColor: #cafcaf;
  /* Firefox */
  /*           Actual Bar (Moving Part) / Bar Background */
  scrollbar-color: var(--contrastColor) var(--mainColor);
}

/* Chrome, EDGE, Safari */
*::-webkit-scrollbar {
  width: var(--barSize);
  height: var(--barSize);
}

/* Actual Bar (Moving Part) */
*::-webkit-scrollbar-thumb {
  background: var(--contrastColor);
  border-radius: calc(var(--barSize));
  height: 10%;
}

/* Bar Background */
*::-webkit-scrollbar-track {
  background: var(--mainColor);
}

/* Scrollbar Arrows */
::-webkit-scrollbar-button:single-button {
  background-color: var(--mainColor);
  display: block;
  border-style: solid;
  height: var(--barSize);
  width: var(--barSize);
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 calc(var(--barSize) / 2) var(--barSize) calc(var(--barSize) / 2);
  border-color: transparent transparent var(--contrastColor) transparent;
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: var(--barSize) calc(var(--barSize) / 2) 0 calc(var(--barSize) / 2);
  border-color: var(--contrastColor) transparent transparent transparent;
}

html {
  font-size: 100%;
  scrollbar-gutter: stable;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--contrastColor);
}

/****************************
Component App
*****************************/
.app {
  padding: 4vh 5vw;
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}

.app-header {
  margin-bottom: 0.75rem;
}

.app-header > h1 {
  font-size: 1.6rem;
}

.app-header > h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.app-header--tinted-word {
  background-color: #cafcaf;
  color: black;
  cursor: help;
}

.app__searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .app__searchbar-container {
    flex-direction: row;
  }
}

/****************************
Component WordElementList
*****************************/
.colors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.75rem;
  margin-top: 1rem;
}

/****************************
Component WordElement
*****************************/
.color-box {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.color-box__info-btn {
  cursor: help;
}

.color-box__clipboard-btn {
  cursor: copy;
}

.color-box__word {
  margin-top: 0.1rem;
  padding-left: 1ch;
}

/*********************************
Component SearchBar
*********************************/
.search-bar {
  display: flex;
  position: relative;
}

.search-bar__search-input {
  width: 20rem;
  min-height: 2.3rem;
  margin: 1rem;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  padding-left: 2.7rem;
}

.search-bar__search-icon-container {
  position: absolute;
  margin: 1rem;
  left: 0.6rem;
  top: 0.2rem;
  width: 2rem;
  height: 2rem;
}

/*********************************
Component ColorInfoModal
*********************************/
.modal {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: fixed;
  z-index: 10;
  padding: 6vh 10vw 11vh 10vw;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  backdrop-filter: blur(2px);
  /* Need for Safari in 08.2022 */
  -webkit-backdrop-filter: blur(2px);
}

.modal__content {
  position: relative;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  animation-name: fade-in;
  animation-duration: 0.25s;
  height: 100%;
  max-width: 55rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  line-height: 1.4;
  cursor: initial;
}

.modal__content ol {
  list-style-position: inside;
}

.modal__content h3 {
  margin: 1rem 0 0.4rem 0;
  font-size: 1.6rem;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  height: 3.5rem;
}

.modal__tittle {
  font-size: clamp(0.9rem, 5vw, 2rem);
}

.modal__body {
  padding: 0.5rem 1rem;
  /* max-height - modal__header height (3.5rem) */
  max-height: calc(100% - 3.5rem);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  color: black;
}

.modal__color-preview-container {
  display: inline-block;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.modal__color-preview {
  min-width: 12rem;
  min-height: 8rem;
}

.modal__close-btn {
  pointer-events: none;
}

/* Modal Fade-in Animation */
@keyframes fade-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/*********************************
Shared Style svg-btn
*********************************/
.svg-btn__container {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.svg-btn {
  background-color: inherit;
  color: inherit;
  width: 2rem;
  height: 2rem;
}
